header
  .header__wrapp
    .header__wrapp-logo
      a(href="#") Logo
    .header__wrapp-search
      input(type="text" placeholder="Search post or account...")
    .header__wrapp-addPost
      button Create Post
    .header__wrapp-messages
      include ../assets/icons/message.svg
    .header__wrapp-notification.active
      include ../assets/icons/bell.svg
    .header__wrapp-user
      img(src='./assets/img/user.png', alt='user profile')





    //- ul.nav
    //-   for i in [{link: "#", name: "1"},{link: "#", name: "2"}]
    //-     li
    //-       a(href=i.link).nav-link=i.name
      